{erl_opts, [debug_info]}.
{deps, [
  {hstreamdb_erl, {git, "https://github.com/hstreamdb/hstreamdb_erl.git", {tag, "0.2.5"}}},
  {influxdb, {git, "https://github.com/emqx/influxdb-client-erl", {tag, "1.1.9"}}},
  {tdengine, {git, "https://github.com/emqx/tdengine-client-erl", {tag, "0.1.6"}}},
  {clickhouse, {git, "https://github.com/emqx/clickhouse-client-erl", {tag, "0.3"}}},
  {erlcloud, {git, "https://github.com/emqx/erlcloud.git", {tag,"3.5.16-emqx-1"}}},
  {rocketmq, {git, "https://github.com/emqx/rocketmq-client-erl.git", {tag, "v0.5.1"}}},
  {emqx, {path, "../../apps/emqx"}},
  {emqx_utils, {path, "../../apps/emqx_utils"}},
  %% The following two dependencies are for emqx_ee_connector_rabbitmq.erl
  %% TODO: They are no longer maintained by RabbitMQ and should be replaced
  %% with subfolders in https://github.com/rabbitmq/rabbitmq-server
  {rabbit_common, {git, "https://github.com/emqx/rabbitmq-common.git", {tag, "v3.7.14.3-emqx43-1"}}},
  {amqp_client, {git, "https://github.com/emqx/rabbitmq-erlang-client.git", {tag, "v3.7.14-emqx-3"}}},
  {emqx, {path, "../../apps/emqx"}}
]}.

{shell, [
    {apps, [emqx_ee_connector]}
]}.
