%% -*- mode: erlang; -*-
{erl_opts, [debug_info]}.
{deps, [ {rabbit_common, "3.11.13"}
       , {amqp_client, "3.11.13"}
       , {emqx_connector, {path, "../../apps/emqx_connector"}}
       , {emqx_resource, {path, "../../apps/emqx_resource"}}
       , {emqx_bridge, {path, "../../apps/emqx_bridge"}}
       ]}.

{shell, [
    {apps, [emqx_bridge_rabbitmq]}
]}.
